<div class="h-full w-full bg-gray-700">

    <header class="fixed top-0 left-0 right-0 h-16 w-full z-10">
        <app-navbar></app-navbar>
    </header>

    <main>

        <section id="hero" #hero>
            <app-hero></app-hero>
        </section>

        <section id="event" #event>
            <app-event></app-event>
        </section>

        <section id="speakers" #speakers>
            <app-speakers></app-speakers>
        </section>

        <section id="schedule" #schedule>
            <app-schedule></app-schedule>
        </section>

        <section id="cta" #cta>
            <app-contact></app-contact>
        </section>

    </main>

    <app-footer></app-footer>
</div>

